@import "../styles/utilities";

.banner {
  position: relative;
  min-height: 1rem;
  overflow: hidden;
  background: $turquoise;
}

.content {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}
