@import "./utilities";

html {
  box-sizing: border-box;
  font-size: 20px;

  @include breakpoint(desktop) {
    font-size: 24px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: $white;
  color: $charcoal;
  margin: 0;
}

a {
  color: $turquoise;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $plum;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 1.5rem;

  @include breakpoint(tablet) {
    padding: 0 2.5rem;
  }
}

.content {
  margin: 2rem 0;
  max-width: 40rem;
}

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

section {
  padding: 2rem 0;

  &.yellow {
    background: $saffron url("/background-yellow.jpg");
  }
}

.center {
  text-align: center;
}
