@import "./utilities";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans;
  font-weight: 300;
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4,
h5,
h6 {
  @include h4;
}

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 10px solid #eee;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: -0.04em;
  margin: 1rem 0;
}

input {
  font-family: $sans;
  font-size: 1rem;
}

ul,
ol {
  margin: 1rem 0;
  padding-left: 2rem;
}

li {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0 0 0.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

strong {
  font-weight: 700;
}

p a {
  font-weight: 700;
}

blockquote {
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 0.5rem solid $turquoise;

  p {
    font-family: $serif;
    font-weight: 400;
    font-style: italic;
  }
}
