@import "../styles/utilities";

.feature {
  position: relative;
  overflow: hidden;
  padding: 2rem 0 3rem;
  background: $saffron;
  text-align: center;
}

.intro {
  color: $white;

  h2 {
    margin: 1rem 0;
    font-size: 3rem;
  }
  p {
    margin: 0;
    font-size: 1.25rem;
    // line-height: 1.5em;
  }
}

// .content {
//   position: relative;
//   z-index: 2;
//   padding: 1.5rem;
//   max-width: 50%;

//   a {
//     margin-bottom: 0;
//   }
// }

// .background {
//   position: absolute;
//   z-index: 1;
//   top: 50%;
//   width: 100%;
//   transform: translateY(-50%);
// }
