@import "../styles/utilities";

.mainMenu {
  display: none;
  height: 100%;
  margin: 0;

  @include breakpoint(tablet) {
    display: block;
  }

  li {
    display: inline-block;
    height: 100%;
    margin: 0;
    font-family: $serif;
    font-weight: 700;

    a {
      display: block;
      color: $charcoal;
      background: transparent;
      height: 100%;
      min-width: 8rem;
      padding: 2.5rem 2rem;
      text-align: center;
      transition: all 0.5s ease;

      &:hover {
        background: #eee;
        background: linear-gradient(to bottom, #fff, #eee);
      }

      &[aria-current="page"] {
        background: linear-gradient(to bottom, $turquoise, #1796b0);
        color: $white;
      }
    }
  }
}

.navigationToggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  background: $charcoal;
  color: $white;
  border: 0;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;

  @include breakpoint(tablet) {
    display: none;
  }

  &:hover {
    background: $black;
  }
}
