@import "../styles/utilities";

.banner {
  position: relative;
  background: $saffron;
  overflow: hidden;
}

.bannerContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0;
  z-index: 100;

  @include breakpoint(tablet) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.bannerTitle {
  margin: 0 0 0.5rem;
  font-size: 2.5rem;

  @include breakpoint(tablet) {
    margin-top: 2rem;
    color: $white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  @include breakpoint(desktop) {
    font-size: 3rem;
  }
}
.bannerSubtitle {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25em;

  @include breakpoint(tablet) {
    max-width: 18rem;
    color: $white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  @include breakpoint(desktop) {
    font-size: 1.5rem;
    max-width: 26rem;
  }
}
