@import "../styles/utilities";

.postGrid {
  padding: 2rem 0 4rem;
  // background: $plum;

  h2 {
    // color: $white;
    text-align: center;
    margin: 1rem 0 2rem;
    font-size: 3rem;
  }

  ul {
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 4rem;
  }
}

.post {
  h3 {
    margin: 1.5rem 0 0.5rem;
  }
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5em;
  }
}
